#######################################################
# Sample development values, also used for tests.
# Tasks will complain when a value is missing ;)
#######################################################

# Harbor task
HARBOR_USER='admin'
HARBOR_PASSWORD=''
HARBOR_BASE_URL='http://127.0.0.1:8083'
HARBOR_BASE_REPO_URL='harbor.dev.eks.otomi.cloud'
OIDC_CLIENT_SECRET=''
OIDC_ENDPOINT='https://keycloak.dev.gke.otomi.cloud/realms/otomi'
OIDC_VERIFY_CERT='true'
TEAM_IDS='["otomi"]'

# keycloak
IDP_CLIENT_ID=''
IDP_CLIENT_SECRET=''
# IDP_ALIAS='otomi-idp'
IDP_GROUP_OTOMI_ADMIN='e69ded30-0882-4490-8e0f-2e67625a0693'
IDP_GROUP_TEAM_ADMIN='3c63814c-59df-46c3-9a69-d9e1c3611097'
IDP_GROUP_MAPPINGS_TEAMS='{"team-otomi":"28010af7-9535-4265-8689-50f51f8f2c87"}'
KC_HOSTNAME_URL='https://keycloak.dev.gke.otomi.cloud'
KEYCLOAK_ADMIN='admin'
KEYCLOAK_ADMIN_PASSWORD=''
KEYCLOAK_CLIENT_SECRET=''
IDP_OIDC_URL='https://login.microsoftonline.com/xxx'
REDIRECT_URIS='["http://localhost:8084/*","https://auth.dev.gke.otomi.cloud/*","https://otomi.dev.gke.otomi.cloud/*","https://harbor.dev.gke.otomi.cloud/*","https://apps.dev.gke.otomi.cloud/*","https://apps.team-dev.dev.gke.otomi.cloud/*","https://apps.team-demo.dev.gke.otomi.cloud/*","https://apps.team-admin.dev.gke.otomi.cloud/*","https://apps.team-otomi.dev.gke.otomi.cloud/*","https://apps.team-chai.dev.gke.otomi.cloud/*"]'

# Gitea task
GITEA_PASSWORD=''
GITEA_URL='http://127.0.0.1'
GITEA_URL_PORT='8082'
GITEA_OPERATOR_NAMESPACE='gitea-app'

OTOMI_FLAGS='{}'
WAIT_OPTIONS='{"retries":1}'
WAIT_URL='https://redkubes.com'

NODE_EXTRA_CA_CERTS="./.env.ca"
